[Unit]
Description=GO CHESSSS

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/chessterm/cmd/server/server -log /root/chessterm.log -ssh :2022 -binary /root/chessterm/cmd/chessterm/chessterm

[Install]
WantedBy=multi-user.target
